@model AllMatchesVM

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<table>
		<tr>
			<th>Player Name</th>
			<th>Set</th>
			<th> - </th>
			<th>Set</th>
			<th>Player Name</th>
			<th>Game played</th>
		</tr>
	@foreach (var item in Model.recentMatches)
	{
		<tr>
			<td>@item.PlayerOne</td>
			<td>@item.SetsOne</td>
			<td> - </td>
			<td>@item.SetsTwo</td>
			<td>@item.PlayerTwo</td>
			<td>@item.DatePlayed</td>
		</tr>
	}
	</table>
</body>
</html>